@CHARSET "UTF-8";
/*admin_member_list.jsp*/
#mList_wrap{
	width:700px; border:1px solid blue;
	padding:10px; border-radius:20px;
	box-shadow:3px 3px 3px #ccc; 
	margin-left:auto; margin-right:auto; 
	margin-top:15px;
}
#mList_wrap .mList_title{
	margin:15px 0 0 230px; width:200px; font-size:19px;
	background:pink; border-radius:15px; 
	text-align:center;
}
#mList_wrap .mList_count{
	margin:15px 0 0 500px; width:100px; background:pink;
	border-radius:15px; text-align:center;
}
#mList_t{
	margin:18px 0 0 17px;
}
a:link{text-decoration:none;}
a:active{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:underline;}

#mList_paging{
margin:18px 0 0 280px;	
}
#mList_menu{
		margin:14px 0 0 520px;
}
#mFind_wrap{
      margin:14px 0 10px 200px;	
}

/* admin_member_info.jsp */
#aMem_wrap{
	width:460px; border:1px solid skyblue;
	border-radius:15px; margin-left:auto; margin-right:auto;
	margin-top:70px; box-shadow:15px 15px 15px #ccc;
	margin-left:auto; margin-right:auto; margin-top:70px;
	padding:10px;
}
#aMem_wrap .aMem_title{
	margin:13px 0 0 150px; width:160px; background:pink;
	border-radius:15px; padding:3px; text-align:center;
	font-size:19px;
}
#aMem_t{
	margin:20px 0 0 10px;
}
#aMem_t th{
	background:pink; border-radius:15px;
}
#aMem_menu{
    margin:20px 0 0 200px;	
}

/* admin_member_edit.jsp ui */
#aMd_wrap{
  width:530px; height:480px; border:1px solid skyblue;
  border-radius:15px; margin-left:auto; margin-right:auto;
  margin-top:8px;	
}
#aMd_wrap .aMd_title{
	margin:10px 0 0 160px; width:200px; font-size:19px;
	background:pink; border-radius:15px; text-align:center;
	padding:2px;
}
#aMd_t{
	margin:10px 0 0 20px;
}
#aMd_t .left_box{
	background:pink; border-radius:15px;
}









