@charset "UTF-8";

/*admin_gongji_list*/
#gList_wrap{
	width:700px; border:1px solid blue;
	padding:10px; border-radius:20px;
	box-shadow:3px 3px 3px #ccc; 
	margin-left:auto; margin-right:auto; 
	margin-top:15px;
}
#gList_wrap .gList_title{
	margin:15px 0 0 230px; width:200px; font-size:19px;
	background:pink; border-radius:15px; 
	text-align:center;
}
#gList_wrap .gList_count{
	margin:15px 0 0 500px; width:100px; background:pink;
	border-radius:15px; text-align:center;
}
#gList_t{
	margin:18px 0 0 17px;
}
a:link{text-decoration:none;}
a:active{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:underline;}

#gList_paging{
 margin:18px 0 0 160px;	
}
#gList_menu{
	margin:14px 0 0 520px;
}
#gFind_wrap{
    margin:14px 0 10px 170px;	
}

/*admin_gongji_write*/
#aBw_wrap{
	width:420px; height:380px; border:1px solid skyblue;
	border-radius:15px;
	margin-left:auto; margin-right:auto;
	margin-top:50px; box-shadow:10px 10px 10px #ccc;
}
#aBw_wrap .aBw_title{
	margin:20px 0px 0px 106px; width:200px;
	font-size:18px; background:pink; border-radius:15px;
	text-align:center; padding:3px;
}
#aBw_t{
	margin:20px 0px 0px 25px;
}
#aBw_menu{
	margin:13px 0px 0px 140px;
}
/*admin_gongji_cont.jsp ui*/
#abbsCont_wrap{
	width:480px; padding:10px;
	border:1px solid skyblue;
	border-radius:15px; box-shadow:15px 15px 15px #ccc;
	margin-left:auto; margin-right:auto;
	margin-top:80px;
}
#abbsCont_wrap .abbsCont_title{
	margin:10px 0 0 140px;width:180px; font-size:19px;
	border-radius:15px; background:pink; padding:3px;
	text-align:center;
}
#abbsCont_t{
	margin:15px 0 0 20px;
}
#abbsCont_t th{
	background:pink; border-radius:15px;
}
#abbsCont_menu{
    margin:15px 0 0 210px;	
}