/* 차량 예약 전체 부분의 스타일링 */
#carpay {
    background-color: #f8f9fa; 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    max-width: 1500px;
    height: 750px;
    margin: auto;
    
}

#bar {
    background-color: #555;
    color: white;
    font-size: 40px;
    text-align: center;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin: 15px 0px 15px 0px;
}

/* 차량 예약 타이틀 */
#carpay > div > h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
}

/* 내부 박스 스타일링 */
#carpay .box {
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
}

/* 각 항목(예약자, 차량, 렌트 정보)의 스타일링 */
#carpay .member, #carpay .car, #carpay .rent {
    padding: 10px;
    border-bottom: 1px solid #e9ecef;
}

#carpay .rent {
    border-bottom: none; /* 마지막 항목이므로 테두리 제거 */
}

/* 각 항목의 타이틀 스타일링 */
#carpay .member h2, #carpay .car h2, #carpay .rent h2 {
    color: #495057;
    margin-bottom: 15px;
}

/* 결제 버튼 스타일링 */
#carpay .rent button {
    padding: 10px 20px;
    margin: 5px 0;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#carpay .rent button:first-child {
    background-color: #007bff;
    color: #fff;
}

#carpay .rent button:last-child {
    background-color: #FFEB3B;
    color: #000;
}

#carpay .rent button:hover {
    opacity: 0.9;
}

#carpay .rent hr {
    margin-bottom: 30px;  /* 간격 조절을 위한 마진 추가 */
}

