#bigbox {
    width: 1300px;
    padding: 20px;
    margin: auto;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #aaa;
}

#bar {
    background-color: #555;
    color: white;
    font-size: 40px;
    text-align: center;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin-bottom: 15px;
}

#toggleHistory {
    margin-bottom: 20px;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

#toggleHistory:hover {
    background-color: #0056b3;
}

.box {
    display: flex;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 7px;
    padding: 10px;
    transition: background-color 0.3s;
}

.box:hover {
    background-color: #f8f8f8;
}

.img {
    width: 25%;
    border-right: 1px solid #ddd;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 5px;
}

.member h2 {
    color: #007bff;
    font-weight: bold;
    margin-bottom: 10px;
}

.member p span {
    color: #555;
    font-weight: bold;
}

.hidden-refunded {
    display: none;
}

